<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="Home">Home</a>
        <a href="news">News</a>
        <a href="contact">Contact</a>
        <a href="about">About</a>

        <button type="button"  id="signup">Sign Up</button>
        <button type="button"  onclick="window.location.href='/user/dashboard'">Login</button>

    </div>

    <div class="container">

        <div class="leftside">
            <div class="shirtBox">
                <h2>Todays deals</h2>
                <img src="img/Shirt_pic.PNG" alt="shirt">
                <p id="shirt_price">shirt price $400</p>
            </div>
        </div>

    </div>
    <script src="js/index.js"></script>

</body>
</html>