<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
</head>
<body>
    <div id="heading">
    <h1 id="regformhead">Registration Form</h1>
</div>

<div class="reg_form">
<form action="/register" method="post">
    <label for="fname">Your name:</label><br>
    <input type="text" id="flname" name="flname" placeholder="first and last name"><br><br>
    <label for="mobnum">Mobile number</label><br>
    <input type="text" id="mobnum" name="mobnum"><br><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password</label><br>
    <input type="text" id="Password" name="Password" placeholder="At least 6 characters"><br><br>
        <label for="role">Role</label><br>
    <input type="text" id="role" name="role" ><br><br>
    

    <button type="submit" id="form_submit">Submit</button>

</form>

</div>


</body>
</html>